@media screen and (max-width:1080px) {
    h1, h2, h3, p {
            background-color: orange;
            color: white;
    }
}    

@media screen and (max-width:1080px) {
    h1, h2, h3, p {
            background-color: red;
            color: white;
    }
}  