
.font1 {
    font-family: 'Indie Flower', cursive;
}

.font2 {
    font-family: 'Luckiest Guy', cursive;
}

html {
    width: 100%;
}

body {
    background-color: black;
    margin: 0;
    width: 100%;
}

.body-container {
    background-color: #d0c2dc;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 840px;
}

header, footer {
    background-image: url("../images/final-desktop-header-01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 840px;
    height: 300px;
}

header h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3.5em;
    margin: 0px;
    margin-top: 25px;
    margin-left: 25px;
    color: #f1d165;
}

header h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    margin: 0px;
    margin-left: 25px;
    margin-top: -10px;
    color: #c1a332;
}

footer p {
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    margin: 30px;
    color: #c1a332;
}

.major-section {
    display: flex;
    flex-flow: row wrap;
}

.image-aside {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.image-aside-quote {
    font-family: 'Luckiest Guy', cursive;
    width: 150px;
    text-align: center;
    color: #645357;
}

.image-aside-source {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #645357;
}

.image-aside > img {
    height: auto;
    width: 150px;
}

.card-container {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
}

.card {
    flex: 1 0 auto;
    width: 100%;
}

.card-row {
}

.card-cell-blank {
    background-color: #d0c2dc;
}

.card-cell-header {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
    color: #c1a332;
    background-color: #654a91;
}

.card-cell-image {
}

.card-cell-text {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    color: #645357;
    background-color: #bda2a7;
}
