
.font1 {
    font-family: 'Indie Flower', cursive;
}

.font2 {
    font-family: 'Luckiest Guy', cursive;
}

body {
    display: flex;
    flex-flow: column nowrap;
    max-width: 840px;
    background-color: #d0c2dc;
}

header, footer {
    background-image: url("../images/final-desktop-header-01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 840px;
    height: 300px;
}

header h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3.5em;
    margin: 25px;
    color: #f1d165;
}

header h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    margin: 25px;
    color: #c1a332;
}

footer p {
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    margin: 30px;
    color: #c1a332;
}

.major-section {
    display: flex;
    flex-flow: row wrap;
}

.image-aside {
    flex: 0 0 auto;
}

.image-aside-quote {
    font-family: 'Luckiest Guy', cursive;
    width: 150px;
    text-align: center;
    color: #645357;
}

.image-aside-source {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #645357;
}

.image-aside > img {
    height: auto;
    width: 150px;
}

.card-container {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
}

.card {


}

