
@media screen and (max-width:580px) {
    nav, main, footer, article, main ul, header, nav ul {
        width: 90%;
        display: block;
        margin: auto;
    }

    body {
        padding: 5px;
    }

    .pure-g, .pure-menu-item,  .pure-menu-horizontal .pure-menu-item {
        display: block;
    }

    .pure-u-1-5, .pure-u-1-2 {
        width: 90%;
    }


}