
@media screen and (max-width:580) {
    body, nav, nav ul, p {
        width:90%;
        padding:10px;
        margin:auto;
        display:block;
        background-color: red;
        color:black
    }
}