
@media screen and (max-width:1080px) {
    nav, main, main ul, footer, article {
        width:90%;
        padding:10px;
        margin:auto;
        display:block;
        background-color: darkorchid;
        color:black
    }
}    

@media screen and (max-width:580px) {
    body, nav, nav ul, p {
        width:90%;
        padding:10px;
        margin:auto;
        display:block;
        background-color: red;
        color:black
    }
}