nav2 ul {
    text-align: center;
    list-style: none;
    background-color: #124e41;
    margin-bottom: 15px;
}

nav2 li {
    display: inline-block;
}

nav2 a {
    padding: 20px;
    display: block;
    width: 100px;
    text-decoration: none;
    background-color: #124e41;
    color: white;
}

nav2 a:hover {
    background-color: rgb(163, 223, 123);
    color:black;
}

h1, h2, h3, p {
    margin: 10px;
}

