:root {
    --green:#074817;
    --white:#ffffff;
}
body, header, main, footer, section, article, aside {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-size: 16px;
}
main, header, nav ul, footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightgray;
}
main section {
    border: solid white 1px;
    text-align: center;
    padding:20px;
}
/* the following classes will govern the sections and make them work within the grid */
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.item7 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.item8, .item9, .item10, .hero-orcas {
    grid-column-start: 1;
    grid-column-end: 4;
}