
@media screen and (max-width:580) {
    nav, main, main ul, footer, article, nav ul, .loki, .leroy {
        width:90%;
        padding:10px;
        margin:auto;
        display:block;
    }

    body, h1 {
        padding:5px;
    }
}