@charset "UTF-8";
/* CSS Document */

.loki {
    background-color: lightyellow;
    width: 700px;
    padding: 7px;
    margin: 5px;
    float: left;
}
.leroy {
    display:inline-block;
    color:saddlebrown;
    vertical-align: top;
    margin-left: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.clear {
    clear:both;
}
.leo {
    background-color: lightgray;
    padding:0px 5px 5px 0px;
}
.leo img {
    vertical-align: top;
    margin: 10px 5px 3px 6px;
}
h1 {
    font-family: 'Tilt Neon', sans-serif;
    font-size:3.5em;
}
nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
nav > a {
    border-bottom: thick solid saddlebrown;
    color: saddlebrown;
    display: block;
    flex: 1 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
nav > a:hover {
    background-color: darkgoldenrod;
    color: white;
}
