.loki {
    background-color: lightyellow;
    width: 700px;
    padding: 7px;
    margin: 5px;
    float: left;
}
.leroy {
    display:inline-block;
    color:saddlebrown;
    vertical-align: top;
    margin-left: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.clear {
    clear:both;
}
.leo {
    background-color: lightgray;
    padding:0px 5px 5px 0px;
}
.leo img {
    vertical-align: top;
    margin: 10px 5px 3px 6px;
}
h1 {
    font-family: 'Tilt Neon', sans-serif;
    font-size:3.5em;
}
/* nav {
     display: flex;
     flex-wrap: wrap;
} */
nav p {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color:darkslategray;
}
nav p:hover {
    color: darkgoldenrod;
}
