
@media screen and (max-width:580) {
    header, nav, main, main ul, footer, article {
        width:90%;
        padding:10px;
        margin:auto;
        display:block;
    }
    header, footer {
        margin:0;
        padding:0;
        font-size:12px;
    }

    
}