@charset"UTF-8";
/* CSS Document */

body {
	background-color:darkorange;
}

.pumpkin-content {
	background-color:lightgoldenrodyellow;
	width:700px;
	padding:10px;
	margin:auto;
}

h1,h2,h3,h4 {
	color:saddlebrown;
}

footer {
	background-color:saddlebrown;
	color:white;
	padding-top:7px;
	padding-bottom:7px;
	clear:both;
	padding-left:5px;
}

